header h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 2.5em;
	text-align: center;

}
.contact {
	/*background-color: pink;*/
	text-align: right;
	margin: 0;
	width: 100%;
}

.contact a {
	padding-left: 1em;
}

.siteNav ul {
	background-color: orange;
	list-style: none;
}

.siteNav {


}

section {
	background-color: lightgreen;
	/*margin: 0;*/
}



h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.25em;
	text-align: right;
	color: black;
	text-decoration: none;	

}

a {
	text-decoration: none;  /*okay to globally define since I don't want any of the links underlined*/
}